.App {
  text-align: center;
}

body {
  height: 100%;
}

header,
footer {
  box-sizing: border-box;
  padding: 0 10vh;
  width: 100vw;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #056cf2;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.main-picture {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* padding-top: 8vh; */
}
