.App {
  text-align: center;
}

* {
  margin: 0;
  color: #eaf2ef;
}

body {
  background-color: #eaf2ef;
  height: 100%;
}

header {
  box-sizing: border-box;
  padding: 0 10vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #f23d4c;
  top: 0;
}

header > div {
  display: flex;
  align-items: center;
}

.timer {
  width: 80px;
}

.instructions-popup {
  z-index: 5;
  background-color: #449dd1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px; /* negative half of width above */
  margin-top: -200px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-picture {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* padding-top: 8vh; */
}

.gameboard {
  /* DO NOT CHANGE FROM RELATIVE */
  position: relative;
  box-sizing: border-box;
  margin-top: 8vh;
}

.character-picture {
  padding: 0 6px;
  height: 60px;
}

.character {
  background-color: blue;
  opacity: 50%;
  height: 7%;
  width: 7%;
  position: absolute;
}

.perry {
  top: 14%;
  left: 40%;
}

.goofy {
  top: 34%;
  left: 14%;
}

.rufus {
  top: 56%;
  left: 56%;
}

.kitbull {
  top: 19%;
  left: 88%;
}

.miguel {
  top: 80%;
  left: 50%;
}

svg {
  z-index: 6;
  position: absolute;
  height: 100%;
  width: 100%;
}

.character-dropdown {
  padding: 6px;
  gap: 6px;
  border-radius: 6px;
  background-color: #424b54;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 6;
}

button {
  background-color: #ffa552;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 22px;
  font-weight: 700;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: 50%;
}

form {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

input {
  margin-left: 4px;
  background-color: transparent;
  border: 2px solid #eaf2ef;
  border-radius: 6px;
  padding: 4px 12px;
  font-size: 16px;
}

.submit-name-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  display: inline;
  width: auto;
  height: auto;
}
